.rainbow {
   
    /* Chrome, Safari, Opera */
   -webkit-animation: rainbow 7s infinite; 
   
   /* Internet Explorer */
   -ms-animation: rainbow 7s infinite;
   
   /* Standar Syntax */
   animation: rainbow 7s infinite; 
 }
 
 /* Chrome, Safari, Opera */
 @-webkit-keyframes rainbow{
   0%{color: orange;}	
   10%{color: purple;}	
     20%{color: red;}
   30%{color: CadetBlue;}
     40%{color: yellow;}
   50%{color: coral;}
     60%{color: green;}
   70%{color: cyan;}
   80%{color: DeepPink;}
   90%{color: DodgerBlue;}
     100%{color: orange;}
 }
 
 /* Internet Explorer */
 @-ms-keyframes rainbow{
    0%{color: orange;}	
   10%{color: purple;}	
     20%{color: red;}
   30%{color: CadetBlue;}
     40%{color: yellow;}
   50%{color: coral;}
     60%{color: green;}
   70%{color: cyan;}
   80%{color: DeepPink;}
   90%{color: DodgerBlue;}
     100%{color: orange;}
 }
 
 /* Standar Syntax */
 @keyframes rainbow{
     0%{color: orange;}	
   10%{color: purple;}	
     20%{color: red;}
   30%{color: CadetBlue;}
     40%{color: yellow;}
   50%{color: coral;}
     60%{color: green;}
   70%{color: cyan;}
   80%{color: DeepPink;}
   90%{color: DodgerBlue;}
     100%{color: orange;}
 }
 .name {
   font-size: 30px;
   margin-left: 1.2rem; font-family: roboto_slabregular, monospace;
 }
 .projects {
  font-size: 25px;
  margin-left: 1.2rem; font-family: roboto_slabregular, monospace;
}
 canvas {
     display: block;
 }
.row {
  display: flex;
  flex-wrap: wrap;
}
.center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.icons {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  font-size: 40px;
}
.fab {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}
.subtitle {
  margin-left: 20%;
  margin-right: 20%;
  font-family: assistantlight, Helvetica, sans-serif;
  font-size: 20px;
}

@media (min-width:600px) {
  .name {
    font-size: 38px;
  }
  .projects {
    font-size: 34px;
  }
}

@media (min-width:800px) {
  .name {
    font-size: 45px;
  }
  .projects {
    font-size: 40px;
  }
}

@media (min-width:1000px) {
  .name {
    /* Never get larger than this */
    font-size: 55px;
  }
  .projects {
    /* Never get larger than this */
    font-size: 40px;
  }
}